.header nav h1 {
    float: none;
    text-align: center;
}

.header nav ul {
    float: none;
}

.header nav ul li {
    float: none;
}

.header nav ul li a {
    /* display: block; */
    padding: 10px;
    text-align: center;
}


/* vp */

.vp-content {
    padding: 50px;
}

.vp-content h1 {
    font-size: 2rem;
}

.vp-content a {
    margin-top: 50px;
}

/* features */


.feature {
    float: none;
    width: 100%;
    text-align: center;
    margin-bottom: 2rem;

}

/* where */


.where {
    padding: 5rem 1.25rem;
    overflow: auto;
    min-height: calc(100vh - 94px - 67.2px);
}

.where-img {
    float: none;
    width: 100%;
    border: solid 1px #ddd;
    border-radius: 5px;
    margin-bottom: 1.25rem;
}

.where-text {
    float: none;
    width: 100%;
}

/* contact */

.contact {
    padding: 50px 0;
    overflow: auto;
    min-height: calc(100vh - 94px - 67.2px);
}

.contact-form-container form button {
    margin-top: 1.25rem;
    /* margin-left: calc(50% - 84.033px); */
}